/* Estilos CSS para o carrossel */
.slideshow-container {
    position: relative;
}

/* Estilos para as imagens */
.mySlides {
    display: none;
    padding: 8px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 20px;
    width: 100%;
}