.teste{
    width: 100%;
    margin-top: 1vh;
    background-image: url(../imagens/capa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

@media screen and (min-width: 1600px) {
    .teste {
        height: 85vh;
    }
    .teste .gradient-text {
        width: 100%;
        height: 90%;
        font-size: 40px;
    }
}

.gradient-text {
    font-size: 25px;
    font-weight: bold;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #a12020;
    margin: 10px;
    border-radius: 15px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.somos {
    margin-top: 5vh;
}

h3 {
    margin-left: 5vh;
}

.descsomos {
    width: 40vh;
    margin-left: 2vh;
}